body{
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(255, 252, 247);
    text-align: center;
}

.cabecalho{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;   
    background-color: rgb(127, 175, 175);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

input{
    height: 20px;
    width: 500px;    
    border-radius: 20px;
}

.add{
    border-radius: 10px;
    padding: 6px;
}